:root {
  --text-color: #ffffff;
  --text-color-bk: #000000;

  --primary-color: #007bff;
  --secondary-color: #ffd700;

  --white-primary: var(--white-surface-100);
  --white-secondary: var(--white-surface-200);

  --background-color: var(--color-surface-700);
  
  --navbar-color: var(--color-surface-1100);
  --card-border: var(--color-surface-1200);
  --card-color: var(--color-surface-1000);

  --submit-btn-primary: #007bff;
  --submit-btn-secondary: #0056b3;


  --color-surface-100: #000000;
  --color-surface-200: #030404;
  --color-surface-300: #070808;
  --color-surface-400: #0a0c0d;
  --color-surface-500: #0e1011;
  --color-surface-600: #121415;
  --color-surface-700: #151719;
  --color-surface-800: #191b1d;
  --color-surface-900: #1c1f22;
  --color-surface-1000: #202326;
  --color-surface-1100: #23272a;
  --color-surface-1200: #292e31;
  --color-surface-1300: #393d3f;
  --color-surface-1400: #4f5255;
  --color-surface-1500: #65686a;
  --color-surface-1600: #7b7d7f;
  --color-surface-1700: #919395;
  --color-surface-1800: #a7a9aa;


  --white-surface-100: #ffff;
  --white-surface-200: #ccc;
  --white-surface-300: #888888;

  }
  
  

